*{
    margin:0;
    padding:0;
}
header{
	background:url('../img/background1.jpg');
	background-repeat: no-repeat;
	padding-bottom: 15%;
    background-position-y: -95px;
    background-size:cover;
}


h1, h2{
	text-shadow: 2px 2px 2px black;
}

main{margin-top: 5px;}

.titre{background-color: rgba(0, 0, 0, .3); padding: .3%;}

.accueil_vehicule img{width: 10em; margin: 0 10px}
.bonjour{color: red; text-transform: uppercase;}
.bonjour strong{background-color: black;} 

a.disabled {
  pointer-events: none;
  cursor: default;
  background-color: grey !important;
}

#prixx{
	background-color: rgba(15, 100, 50, .4);
	padding: 5px 32px;
}

footer{
	padding: 3%;
	margin-top: 5%;
}


.inscription{color: blue; text-align: center;}


#sendMessage
{
	position: absolute;
	background-color: rgb(173,255,47);
	padding: 5px;
	top: 60%;
	left: 10%;
	right: 10%;
	text-align: center;
	border-radius: 20px;
}
/*cacher le message 4s après*/
.hide{display: none;}